/* your custom css */

/* .fixedHeaderContainer {
  display: none;
} */

/* .singleRowMobileNav.navPusher {
  padding-top: 80px!important;
} */

.fixedHeaderContainer header img {
  height: 150%!important;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}